@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", system-ui, sans-serif;
  }
}

/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

:root {
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: #18151C;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
* {
    margin: 0;
    box-sizing: border-box;
}

.icon-input-text-white .text-tremor-content-subtle {
  color: #ffffff;
}

.icon-input-text-white .hover\:text-tremor-content:hover {
  color: #c8b9c6;
}

.tremor-AccordionHeader-children {
  overflow: hidden;
}

.tremor-Accordion-root {
  overflow: visible;
}